<!doctype html>
<html lang="en">
  <head>
    <title>Wriber</title>
	{% load static %}
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'Templates/images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Templates/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Templates/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Templates/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'Templates/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Templates/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Templates/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'Templates/css/main.css'%}">
<!--===============================================================================================-->
</head>
<body>
	{%if messages%}
            {% for message in messages  %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
	{% endif %}



    {% block content %}
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

    <h3 style="color: coral;">Reset your password</h3>
<br>
<br>
    <h5>We've emailed you instructions for setting your password. If you can't see the email check your spam it might be there.</h5>

    <br>
<div class="container-fluid">
    <hr>
</div>
    <h4 style="color: tomato;">If you don't receive an email, please make sure you've entered the
    address you registered with.</h4>
    </div>
</div>
</div>

    {% endblock %}
                    
                    

	
<!--===============================================================================================-->	
	<script src="{% static 'Templates/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Templates/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'Templates/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Templates/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Templates/vendor/tilt/tilt.jquery.min.js'%}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'Templates/js/main.js'%}"></script>

	

  </body>
</html>

