{% extends 'home.html' %}


<div class="container">
{% block content %}

<br>
<br>
<br>

<center>
<div class="order-link container-fluid" style="border-color: coral;">
        <h4 style="color: midnightblue">
            Order has been submitted.... You will receive a phone call when the dropper is approaching your location.
        </h4>

        <button class="btn btn-outline-dark" style="padding: 10px 40px; width: 150px; height: 80px;">
            <a style="text-decoration:solid; color: black;" href="{% url 'orders-from-you' %}">
                View Order
            </a>
        </button>
</div>
</center>
{% endblock %}
</div>