{% extends 'WriberAccount.html' %}
{% load static %}


    {% block content %}
<br>


    <h3>Account Products</h3>
        <ul>
            <li style="display: inline;"><a href="{% url 'wriber-page' request.user.id %}"><button class="home-home-button">Home</button></a></li>
            <li style="display: inline;"><a href="{% url 'dashboard-product' user.id %}"><button class="home-product">Products</button></a></li>
        </ul>


<div class="row">

    {% if products %}
        {% for product in products %}

            <div class="col" style="margin-top: 11px; display: flex;" >
                <div class="card" style="width: 260px;">
                  {% if product.image_url %}
                      <img src="{{ product.image_url.url }}" class="card-img-top" alt="{{ product.product_name }}"
                      height="250px;" width="260px;">
                  {% else %}
                  {% endif %}
                  <div class="card-body">
                    <a href="{{ product.get_absolute_url }}">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    </a>
                    <p class="card-text">D{{ product.product_price }}</p>
                    <p class="card-text">{{ product.product_description }}</p>
                    <p class="card-text">{{ product.stock_available }}</p>
                    <a href="{% url 'wriber-updateproducts' pk=product.pk %}" class="btn btn-outline-primary">
                        Edit
                    </a>
                    <a href="{% url 'delete-wriber-products' pk=product.pk %}" class="btn btn-danger">
                        Delete
                    </a>
                  </div>
                </div>
          </div>

        {% endfor %}
    {% endif %}

        <div class="col" style="margin-top: 11px">
                <div class="card h-100" style="width: 21rem">

                  <img style="width: 300px; height: 200px;" src="{% static 'images/istockphoto-1222013518-170667a.jpeg' %}" class="card-img-top" alt="Template Photo">
                     <div class="card-body">

                        <a href="{% url 'wriber-products-add' %}" class="btn btn-primary">
                            Add new product
                        </a>
                     </div>
                </div>
            </div>

</div>



 {% endblock %}





