{% extends 'WriberAccount.html' %}


    <div class="container">
        {% block content %}
<br>
        <h3>All orders</h3>

        <div class="row">
                {% if orders %}


                    {% for item in orders %}
                    <div class="col-md-6" style="margin-top: 11px">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">ODR{{ item.id }}</h5>
                                <p class="card-text">{{ item.address }} from {{ item.city }}</p>
                                <p class="card-text">D{{ item.paid_amount }}</p>
                            </div>
                            <div class="card-body">
                                <a href="{{ item.get_absolute_url }}" class="btn btn-outline-secondary">View Order</a>
                                <h5 class="card-title">{{ item.created_at }}</h5>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                {% endif %}
        </div>

        {% endblock %}
    </div>