{% extends 'WriberPageView.html' %}

<div class="container tariff-div" style="display: inline-block; display: flex; display margin-left: 4px; margin-right: 4px;">
{% block content %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </symbol>
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>

    <h2 style="color: coral;">Find Your location.. </h2>
<bR>
    <div class="container">
        <div class="alert alert-primary d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
          <div>
              This is an express delivery and you should receive your order in the <strong style="color: coral;">same day</strong> or <strong style="color: coral;">the next day</strong>.
              <hr>
              <strong>Please note</strong> that the pricing you see here, can <strong>increase</strong> or <strong>decrease</strong> by D25 to D50 dalasi depending on the distance.
          </div>
        </div>
    </div>
    {% if locations_forpage %}
        {% for price in locations_forpage %}
        <div class="container list-tariff" style="display: inline-block; float: left; width: 40%;
            margin-left: 35px;">
            <br>
            <h6>Abuko: D{{ price.abuko }}</h6>

            <h6>Brufut Taf:  D{{ price.brufut_Taf }}</h6>

            <h6>Brufut Heights:  D{{ price.brufut_heights }}</h6>

            <h6>Brikama:  D{{ price.brikama }}</h6>

            <h6>Barra:  D{{ price.barra }}</h6>

            <h6>Banjul:  D{{ price.banjul }}</h6>

            <h6>Bakau:  D{{ price.bakau }}</h6>

            <h6>Batokunku:  D{{ price.batokunku }}</h6>

            <h6>Brusubi:  D{{ price.brusubi }}</h6>

            <h6>Bijilo:  D{{ price.bijilo }}</h6>

            <h6>Busumbala:  D{{ price.busumbala }}</h6>

            <h6>Banjulinding:  D{{ price.banjulinding }}</h6>

            <h6>Bundung:  D{{ price.bundung }}</h6>

            <h6>Bakoteh:  D{{ price.bakoteh }}</h6>

            <h6>Churchill Town:  D{{ price.churchill_Town }}</h6>

            <h6>Coastal Road:  D{{ price.coastal_Road }}</h6>

            <h6>Dippa Kunda:  D{{ price.dippa_kunda }}</h6>

            <h6>Dalaba Estate :  D{{ price.dalaba_estate }}</h6>

            <h6>Ebou Town:  D{{ price.ebou_town }}</h6>

            <h6>Fajara:  D{{ price.fajara }}</h6>

            <h6>Farato:  D{{ price.farato }}</h6>

            <h6>Pipeline:  D{{ price.pipline }}</h6>

            <h6>Faraba:  D{{ price.faraba }}</h6>

            <h6>Fajikunda:  D{{ price.faji_kunda }}</h6>

            <h6>Gunjur:  D{{ price.gunjur }}</h6>

            <h6>Jabang:  D{{ price.jabang }}</h6>

            <h6>Jimpex:  D{{ price.jimpex }}</h6>

            <h6>Jamburr:  D{{ price.jamburr }}</h6>

            <h6>Jambanjelly:  D{{ price.jambanjelly }}</h6>

            <h6>Kanifing:  D{{ price.kanifing }}</h6>

            <h6>Kartong:  D{{ price.kartong }}</h6>

            <h6>Kotu:  D{{ price.kotu }}</h6>

            <h6>Kololi:  D{{ price.kololi }}</h6>

            <h6>Kerr Sering:  D{{ price.kerr_sering }}</h6>

            <h6>Latriya:  D{{ price.latriya }}</h6>

        </div>

        <div class="container list-tariff" style="display: inline-block; float: right; width: 40%;
            margin-right: 35px;">
            <br>
            <h6>Lamin: D{{ price.lamin }}</h6>

            <h6>Latrikunda German: D{{ price.latrikunda_german }}</h6>

            <h6>Latrikunda Sabigi: D{{ price.latrikunda_sabigi }}</h6>

            <h6>Manjai: D{{ price.manjai }}</h6>

            <h6>Mariamakunda: D{{ price.mariamakunda }}</h6>

            <h6>Marakesa: D{{ price.marakesa }}</h6>

            <h6>Madinabaa: D{{ price.madinabaa }}</h6>

            <h6>Madinari: D{{ price.madinari }}</h6>

            <h6>Madiyana: D{{ price.madiyana }}</h6>

            <h6>Nema Su: D{{ price.nema_su }}</h6>

            <h6>Old Jeshwang: D{{ price.old_jeshwang }}</h6>

            <h6>New Jeshwang: D{{ price.new_jeshwang }}</h6>

            <h6>Old Yundum: D{{ price.old_yundum }}</h6>

            <h6>Paradise View: D{{ price.paradise_view }}</h6>

            <h6>Paradise Estate: D{{ price.paradise_estate }}</h6>

            <h6>Salaji: D{{ price.salaji }}</h6>

            <h6>Sanchaba: D{{ price.sanchaba }}</h6>

            <h6>Serrekunda: D{{ price.serekunda }}</h6>

            <h6>Senegambia: D{{ price.senegambia }}</h6>

            <h6>Sinchu: D{{ price.sinchu }}</h6>

            <h6>Sukuta: D{{ price.sukuta }}</h6>

            <h6>Sanyang: D{{ price.sanyang }}</h6>

            <h6>TurnTable: D{{ price.turntable }}</h6>

            <h6>Traffics Lights: D{{ price.traffic_lights }}</h6>

            <h6>Senegambia: D{{ price.senegambia }}</h6>

            <h6>Tallinding: D{{ price.tallinding }}</h6>

            <h6>Tabokoto: D{{ price.tabokoto }}</h6>

            <h6>Tipper Garage: D{{ price.tipper_garage }}</h6>

            <h6>Tanji: D{{ price.tanji }}</h6>

            <h6>Tujereng: D{{ price.tujereng }}</h6>

            <h6>Wulinkama: D{{ price.wulinkama }}</h6>

            <h6>Westfield: D{{ price.westfield }}</h6>

            <h6>Wellingara: D{{ price.wellingara }}</h6>

            <h6>Yundum: D{{ price.yundum }}</h6>

            <h6>Yuna: D{{ price.yuna }}</h6>

            <h6>Yarambamba: D{{ price.yarambamba }}</h6>

        </div>

    <center>
            {% if request.user.id == price.user.id %}

                <a href="{% url 'update-tariff' pk=price.pk %}">
                        <button class="mod" style="width: 310px; height: 60px; border-radius: 9px; border-style: solid;
                         border-color: coral; border-width: 1px; transition: 0.7s;">
                            Modify Prices
                        </button>
                </a>
            {% endif %}
    </center>
        {% endfor %}
    {% endif %}

{% endblock %}
</div>