{% extends 'home.html' %}

{% block content %}
<center>
    <div style="width: 70%; height: 75%; border-color: maroon; border-radius: 10px; border-width: 2px;">
        <center>
            <h3 align="left">Add a new product</h3>
        <br/><br/>
            <div class="container" style="width: 800px; margin-left: 130px; justify-content: center;
                        background-color: snow;">
                <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <br>
                        {{ form.as_p }}
                <hr>             
                     <div align="right">
                        <input type="submit" value="Create Page" class="btn btn-outline-dark">
                     </div>
                </form>
            </div>
        </center>
    </div>
</center>
{% endblock %}