{% extends 'WriberAccount.html' %}


<div class="container">
{% block content %}

<br>

                <h3 align="left">Tariff</h3>
            <br/><br/>
                <div style="display: flex; margin-left: 10px; border-color: indigo; border-style: solid;
                 border-radius: 5px; width: 450px; border-width: 1.2px; padding: 13px; ">
                    <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.name }}
                        <hr>
                        Which page should this tariff be allocated to?
                            {{ form.page_owner }}
                        <br>
                            <input type="submit" value="Add Tariff" class="btn btn-outline-dark">
                    </form>
                </div>



<br>

{% endblock %}
</div>