{% extends 'WriberPages.html' %}


<div class="container">
{% block content %}


    <center>
            <br/><br/>
    <div class="card" style="width: 60rem; height: 43rem">
        <div class="card-header" style="height: 5rem" align="left">
            <h1>Create new page</h1>
        </div>
        <br>
        <div class="container" style="width: 900px; margin-left: 39px; justify-content: center;
                            background-color: white;">
                <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                     <div align="right">
                        <input type="submit" value="Create A New page" class="btn btn-outline-dark">
                     </div>
                    Tip: Make sure your description is long and talks about your business and all the category of products you sell!!
                </form>
        </div>
    </div>
            </center>




{% endblock %}
</div>