{% extends 'WriberAccount.html'%}

<br>

<div class="container">

<br>
<br>

{% block content %}
    <br>

<center>
    <h3 align="left">Update Your Store</h3>
     <div class="container" style="width: 1000px; margin-left: 39px; justify-content: center;
                            background-color: snow;">
                 <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                      <div align="right">
                        <input type="submit" value="Update Page" class="btn btn-outline-dark">
                      </div>
                     Tip: Make sure your description is long and talks about your business and all the category of products you sell!!
                     <br>
                     <br>
                </form>
         <br>
         <br>
     </div>
</center>


{% endblock %}
</div>