{% extends 'WriberAccount.html' %}


<div class="container">
<br>


{% block content %}
    <br>
<center>
    <h3 align="left">Update Your Tariff</h3>
                 <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                     <div align="right">
                        <input type="submit" value="Update" class="btn btn-outline-dark">
                     </div>
                </form>
</center>


{% endblock %}
</div>